@model List<Yuffie.WebApp.Models.TreeData>

<ul class="collapsible" data-collapsible="accordion">
    @foreach(var treeData in Model) 
    {
        <li bind-to="@(treeData.BindTo)">
            @if(treeData.Tree == null) 
            {
                <span><a tree-select>@(treeData.Name)</a></span>
            }
            else 
            {
                <div class="collapsible-header">@(treeData.Name)</div>
                <div class="collapsible-body">
                    @{ Html.RenderPartial("_TreeElement", treeData.Tree); }
                </div>
            }
        </li>
    }
</ul>
