@model List<Yuffie.WebApp.Models.TreeData>

<ul class="collapsible tree-select" data-collapsible="accordion">
    @foreach(var treeData in Model) 
    {
        <li bind-to="@(treeData.BindTo)">
            @if(treeData.Tree == null) 
            {
                <p tree-select>@(treeData.Name)</p>
            }
            else 
            {
                <div class="collapsible-header" tree-select>@(treeData.Name)</div>
                <div class="collapsible-body">
                    @{ Html.RenderPartial("_TreeElement", treeData.Tree); }
                </div>
            }
        </li>
    }
</ul>
