<a href="/Home/Download">Download</a>
<form action="/Home/Upload" method="POST" enctype="multipart/form-data">
    Modifier le fichier json de configuration
    <input type="file" name="file" id="file">
    <input type="submit" value="Upload Image" name="submit">
</form>