@model Yuffie.WebApp.Models.YuffieConfiguration

<div class="row center">
    <div class="intro"><div id="world"></div></div>
    <h2 class="white-text">Bienvenue sur Yuffie App !</h2>
    <div class="buttonContainer">
        <a class="waves-effect waves-light btn-large beginButton" href="~/Home/Event">Planifier une formation</a>
    </div>
</div>
