<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="~/lib/materialize5/css/materialize.css"  media="screen,projection"/>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/projects/animco/css/event.css" asp-append-version="true"/>
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo"><img src="~/images/logo-sg.png" class="logoSg"></a>
                <a href="#" class="right"><img src="~/images/logo-GC.png" class="logoGc"></a>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            @RenderBody()
        </div>
        <div class="fixed-action-btn vertical">
            <a class="btn-floating btn-large">
                <i class="large material-icons white">more_vert</i>
            </a>
            <ul>
                <li><a class="btn-floating white" alt="se déconnecter"><i class="material-icons">undo</i></a></li>
                <li><a class="btn-floating white" alt="mes événements"><i class="material-icons">event</i></a></li>
                <li><a class="btn-floating white" alt="mon compte"><i class="material-icons">supervisor_account</i></a></li>
            </ul>
        </div>
        
    </main>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/projects/animco/js/rules.js" asp-append-version="true"></script>
    <script src="~/projects/animco/js/exceptions.js" asp-append-version="true"></script>
    
    <script type="text/javascript" src="~/lib/materialize5/js/materialize.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
